/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
*********************/
html {
  --main-color: #00a5d6;
  --secondary-color: #273582;
  --black: #070723;
  --white: #fff;
  --text-gray: #999;
  --gray2: #6d6d6d;
  --gray3: #4e4e4e;
  --blue: blue;
  --purple: #9700d6;
  --border-color: #e3e3e3;
  --yellow: #ffde1f;
  --font-serif: "Zodiak", "Garamond", "Times New Roman", serif;
  --font-sans: "GeneralSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --border: 1px solid var(--border-color);
  --ease: cubic-bezier(.12, .845, .305, 1);
  --transition: all 0.2s var(--ease);
  --ratio-square: 1;
  --ratio-landscape: 4/3;
  --ratio-portrait: 3/4;
  --ratio-widescreen: 16/9;
  --ratio-ultrawide: 18/5;
  --ratio-golden: 1.6180/1;
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e3e3e3;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #b5b5b5;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/
/*********************
FONT FACE 
*********************/
@font-face {
  font-family: "Zodiak";
  src: url("../fonts/Zodiak-Variable.eot");
  src: url("../fonts/Zodiak-Variable.eot?#iefix") format("embedded-opentype"), url("../fonts/Zodiak-Variable.woff2") format("woff2"), url("../fonts/Zodiak-Variable.ttf") format("truetype"), url("../fonts/Zodiak-Variable.svg#font-name") format("svg");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/GeneralSans-Variable.eot");
  src: url("../fonts/GeneralSans-Variable.eot?#iefix") format("embedded-opentype"), url("../fonts/GeneralSans-Variable.woff2") format("woff2"), url("../fonts/GeneralSans-Variable.ttf") format("truetype"), url("../fonts/GeneralSans-Variable.svg#font-name") format("svg");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
h1,
.h1 {
  font-size: 34px;
  line-height: 1.1em;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 600;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
#header {
  background: white;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  align-items: stretch;
  position: relative;
  height: 89px;
}
#header::after {
  content: "";
  height: 13px;
  width: 66vw;
  background: var(--gray-0);
  position: absolute;
  bottom: -14px;
}
#header #inner-header {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: none;
}
#header #inner-header nav {
  display: flex;
}
#header #inner-header .nav {
  margin: 0;
  display: flex;
}

#logo {
  background: var(--purple);
  border-right: var(--border);
  display: flex;
  position: relative;
  width: auto;
  border-bottom: none;
}
#logo a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 5px);
  background: white;
  z-index: 1;
  border-bottom-right-radius: 5px;
  transition: var(--transition);
  transform: translateY(0);
}
#logo span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
#logo a {
  padding: 0 40px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
#logo a:hover::before {
  transform: translateY(-10px);
  transition: var(--transition);
}
#logo .logo__name {
  font-family: var(--font-serif);
  font-size: 34px;
  font-weight: 600;
}
#logo .logo__subline {
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.07em;
  transform: translateY(-8px);
}

/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
  display: inline-block;
}

.nav_container_desktop {
  flex-grow: 1;
  width: auto;
}
.nav_container_desktop nav {
  width: auto;
}
.nav_container_desktop .nav li {
  flex-basis: auto;
}
.nav_container_desktop .nav li a {
  display: flex;
  align-items: center;
  font-size: 21px;
  padding: 0 40px;
  border-right: var(--border);
}
.nav_container_desktop .nav li a:hover {
  color: var(--purple);
}

/*********************
CONTENT
*********************/
.inner-content__main {
  margin-top: 55px;
}

.ref_article {
  padding: 20px;
  border: 1px solid var(--border-color);
  border: 1px solid var(--border-color);
}
.ref_article:hover {
  border-color: var(--purple);
  border-bottom: 1px solid var(--purple);
}

.ref_top_row {
  grid-area: topRow;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  line-height: 1.4rem;
  grid-template-areas: "date stil format format ";
}
.ref_top_row .ref_date {
  grid-area: date;
}
.ref_top_row .ref_kind {
  grid-area: stil;
}

.ref_middle_row {
  grid-area: middleRow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: var(--black);
  font-family: var(--font-serif);
  font-weight: 600;
  padding: 20px 12.5% 20px 0;
}

.ref_bottom_row {
  grid-area: bottomRow;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-template-areas: "topic topic link more";
  margin-top: 5px;
}
.ref_bottom_row div + div {
  margin-top: 0px;
}
.ref_bottom_row .ref_topic {
  grid-area: topic;
}
.ref_bottom_row .ref_link {
  grid-area: link;
  word-break: break-word;
}
.ref_bottom_row .ref_more {
  grid-area: more;
  display: flex;
  justify-content: flex-end;
  color: inherit;
}

.single-reference .reference_content {
  padding: 0;
  display: flex;
}
.single-reference .reference_content aside {
  order: 1;
  width: 25%;
  flex-basis: 25%;
  padding: 0 30px 21px 0;
  color: var(--gray2);
  font-size: 13px;
  animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  align-self: baseline;
  border-top: none;
  border-bottom: 8px solid var(--gray-0);
}
.single-reference .reference_content aside span {
  font-weight: 600;
  display: inline-block;
  width: 80px;
  color: var(--gray3);
}
.single-reference .reference_content aside div {
  white-space: break-spaces;
}
.single-reference .reference_content aside div + div {
  margin-top: 8px;
}
.single-reference .reference_content aside a {
  text-decoration: underline;
}
.single-reference .reference_content aside a:hover {
  color: var(--purple);
}

.article_text {
  order: 2;
  width: 75%;
  max-width: 750px;
  padding-left: 30px;
}
.article_text .article_text__header {
  padding-bottom: 21px;
  position: relative;
}
.article_text .article_text__header::after {
  content: "";
  display: inline-block;
  height: 11px;
  width: 100%;
  bottom: auto;
  background: var(--yellow);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  animation: scale-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  transform-origin: left;
  z-index: 0;
}
.article_text .article_text__header .line-container {
  height: 21px;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 21px;
  z-index: 1;
}
.article_text .article_text__header .line-container .circle {
  width: 21px;
  height: 21px;
}
.article_text .article_text__header .line-container .circle span {
  display: inline-block;
  cursor: pointer;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--purple);
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
}
.article_text .entry-content {
  margin-top: 34px;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em;
}

/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  max-width: 1030px;
}

/*********************
NAVIGATION STYLES
*********************/
/*********************
GRID
*********************/
.grid-container {
  grid-template-columns: repeat(4, 1fr);
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/