/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {

}


h1,
.h1 {
	font-size: 34px;
	line-height: 1.1em;
	font-weight: 600;

}

h2,
.h2 {
	font-size: 21px;
	line-height: 1.2em;
	font-weight: 600;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	//width: 100%;
	//max-width: 760px;
}


/*********************
HEADER STYLES
*********************/


#header {
	background: white;
	top: 0;
	width: 100%;
	//z-index: 5;
	display: flex;
	border-bottom: 1px solid var(--border-color);
	align-items: stretch;
	position: relative;
	height: 89px;

	&::after {
		content: '';
		height: 13px;
		width: 66vw;
		background: var(--gray-0);
		position: absolute;
		bottom: -14px;
	}

	#inner-header {
		display: flex;
		align-items: stretch;
		width: 100%;
		max-width: none;

		nav {
			display: flex;
		}

		.nav {
			margin: 0;
			display: flex;
		}
	}
}

#logo {

	background: var(--purple);
	border-right: var(--border);
	display: flex;
	position: relative;
	width: auto;
	border-bottom: none;

	a::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 5px);
		background: white;
		z-index: 1;
		border-bottom-right-radius: 5px;
		transition: var(--transition);
		transform: translateY(-0);
	}

	span {
		display: inline-block;
		position: relative;
		z-index: 2;
	}

	a {
		padding: 0 40px;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;

		&:hover {
			&::before {
				transform: translateY(-10px);
				transition: var(--transition);
			}
		}
	}

	.logo__name {
		font-family: var(--font-serif);
		font-size: 34px;
		font-weight: 600;

	}

	.logo__subline {
		text-transform: uppercase;
		text-align: left;
		font-weight: 300;
		letter-spacing: 0.07em;
		transform: translateY(-8px);
	}
}


/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
	display: inline-block;
}

.nav_container_desktop {

	flex-grow: 1;
	width: auto;
	nav{
		width: auto;
	}
	.nav {
		li {
			flex-basis: auto;
			a {

				display: flex;
				align-items: center;
				font-size: 21px;
				padding: 0 40px;
				border-right: var(--border);

				&:hover {
					color: var(--purple)
				}
			}
		}
	}
}
/*********************
CONTENT
*********************/

.inner-content__main {
	margin-top: 55px;
}

.ref_article {
	padding: 20px;
	border: 1px solid var(--border-color);
	border: 1px solid var(--border-color);
	&:hover {

			border-color: var(--purple);
			border-bottom:1px solid var(--purple);

		}
}
.ref_top_row {
	grid-area: topRow;

	pointer-events: none;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: 1fr;
	line-height: 1.4rem;
	grid-template-areas: "date stil format format ";

	.ref_date {
		//background: red;
		grid-area: date;
	}

	.ref_kind {
		//background: red;
		grid-area: stil;
	}
}


.ref_middle_row {
	grid-area: middleRow;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 24px;
	color: var(--black);
	font-family: var(--font-serif);
	font-weight: 600;
	padding: 20px 12.5% 20px 0
}

.ref_bottom_row {
	grid-area: bottomRow;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: 1fr;
	grid-template-areas: "topic topic link more";
	margin-top: 5px;

	div+div {
			margin-top: 00px;
		}

	.ref_topic {
		grid-area: topic;
	}

	.ref_link {
		grid-area: link;
		word-break: break-word;
	}

	.ref_more {
		grid-area: more;
		display: flex;
		justify-content: flex-end;
		color: inherit;
	}
}


/// START SINGLE REFERENZ	

.single-reference {
	.reference_content {
		padding: 0;
		display: flex;

		aside {
			order: 1;
			width: 25%;
			flex-basis: 25%;
			padding: 0 30px 21px 0;
			color: var(--gray2);
			font-size: 13px;
			animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			align-self: baseline;
			border-top: none;
			border-bottom: 8px solid var(--gray-0);

			span {
				font-weight: 600;
				display: inline-block;
				width: 80px;
				color: var(--gray3);
			}

			div {
				white-space: break-spaces;
			}

			div+div {
				margin-top: 8px;
			}

			a {

				text-decoration: underline;

				&:hover {
					color: var(--purple);
				}
			}
		}
	}
}

.article_text {
	order: 2;
	width: 75%;
	max-width: 750px;
	padding-left: 30px;

	.article_text__header {
		padding-bottom: 21px;
		position: relative;

		&::after {
			content: '';
			display: inline-block;
			height: 11px;
			width: 100%;
			bottom: auto;
			background: var(--yellow);
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			animation: scale-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			transform-origin: left;
			z-index: 0;
		}


		.line-container {
			height: 21px;
			width: 100%;
			background: transparent;
			position: absolute;
			bottom: 21px;
			z-index: 1;

			.circle {
				width: 21px;
				height: 21px;
			}

			.circle span {
				display: inline-block;
				cursor: pointer;
				width: 21px;
				height: 21px;
				border-radius: 50%;
				background: var(--purple);
				animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;

			}
		}

	}

	.entry-content {
		margin-top: 34px;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}


/*********************
FOOTER STYLES
*********************/


.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			ul {}
		}
	}
} /* end .footer-links */

