/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {

}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	//width: 100%;
	//max-width: 760px;
}


/*********************
HEADER STYLES
*********************/


#header {
	
	
	
	#inner-header{
		padding:  0;
		height: 89px;
		display: flex;
		justify-content: flex-start;
		//align-items: center;

		&::before, &::after{
			display: none;
		}

		#logo {
		
		

			a {	
				width: 100%;
				
				&:hover{
					//opacity: 0.85;
				}
			}
		}
	}
}



/*********************
NAVIGATION STYLES
*********************/

.nav_container_mobile, .nav_toggle{
	display: none;
}

.nav_container_desktop{
	//display: inline-block;
}


.nav {
	float: right;
	border: 0;
	//margin-top: 20px;
	display: flex;
	justify-content: flex-end;

	&:after, &:before{
		 display: none;  // remove from flex alignment! 
	}

	li {
	
		&>a {
			// background: red;
			display: block;
			position: relative;

			&:hover, &:focus {
				
			}
		}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: -1px;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 2;
			min-width: 200px;


			background: white;

			li {
				text-align: left;
				a {
					padding: 12px 10px;
					border-right: 0;
					display: block;
					margin: 0;
					border-bottom: 1px solid #ccc;

					&::after{
						display: none;
					}

					&:hover,
					&:focus {
						background: var(--main-color);
						color: white;
					}
				}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			display: block;
			//visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
		
		}
	}  /* end current highlighters */
} /* end .nav */


/*********************
CONTENT
*********************/

.entry-content{
	margin: 0 auto;

}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}


/*********************
FOOTER STYLES
*********************/


.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			ul {}
		}
	}
} /* end .footer-links */

