/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html{
	//font-size:10px;
	overflow-x: hidden; /* magic... */
}
body {
	font-family: var(--font-sans);
	background-color: white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	//line-height: 1;
  	position: relative;
	font-weight: 400;
	color: var(--black);
}

.hidden {
	color: transparent;
	visibility: hidden;
	height: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}
/*********************
LINK STYLES
*********************/

a, a:visited {

	color: inherit;
	text-decoration: none;
	transition: all 0.3s var(--ease);
	/* on hover */
	&:hover, &:focus {
		
	}

	/* on click */
	&:active {
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

//remove dotted lines
a, *:focus {
		outline: 0 !important;
}

p a,
p a:visited {
	text-decoration: underline;
	color: var(--purple);
	padding: 2px 0;

	&:hover {
		background: var(--purple);
		color: white;
		text-decoration: none;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: normal;
	margin: 0 0 0.3em;
	font-family: var(--font-serif);
	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}



h1, .h1 {
	font-size: 34px;
	line-height: 1.1em;
	font-weight: 600;
	
}

h2, .h2 {
	font-size: 21px;
	line-height: 1.2em;
	font-weight: 600;
}

h3, .h3 {
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 600;

}

h4, .h4 {
	font-size: var(--text-size);
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6, .h6 {
	font-size: 0.846em;
	line-height: 2.09em;
	letter-spacing: 2px;
}

p, li{
	font-size: var(--text-size);
	line-height: 1.5;
}


p{
	//margin: 0 0 40px;
	max-width: 750px;
}

h2+p{
	margin-top: 13px;
}

p+h2, p+h3{
	margin-top: 34px;
}


/*********************
HEADER STYLES
*********************/


#header {
	background: white;
	top: 0;
	width: 100%;
	//z-index: 5;
	display: flex;
	border-bottom: 1px solid var(--border-color);
	align-items: stretch;
	position: relative;
	&::after{
		content: '';
		height: 13px;
		width: 66vw;
		background:var(--gray-0);
		position: absolute;
		bottom: -14px;
	}
    
    #inner-header{
		display: flex;
    	align-items: stretch;
		width: 100%;
		max-width: none;
		flex-wrap: wrap;
    	
		nav{
			display: flex;
		}

		.nav{
			margin: 0;
			display: flex;
		}
    }
}

#logo {

	background: var(--purple);
	border-right: var(--border);
	display: flex;
	position: relative;
	width: 100%;
	border-bottom: var(--border);
	a::before{
		content: '';
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: calc(100% + 5px);
		background:white;
		z-index: 1;border-bottom-right-radius: 5px;		
		transition: var(--transition);
		transform: translateY(-0);
	}
	span{
		display: inline-block;
		position: relative;
		z-index: 2;
	}
	a {
		padding: 0 40px;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
		&:hover{
			&::before{
				transform: translateY(-10px);
				transition: var(--transition);
			}
		}
	}
	.logo__name{
		font-family: var(--font-serif);
		font-size: 34px;
		font-weight: 600;

	}
	.logo__subline{
		text-transform: uppercase;
		text-align: left;
		font-weight: 300;
		letter-spacing: 0.07em;
		transform: translateY(-8px);
	}
}


/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile{
	display: inline-block;
}

.nav_container_desktop{
	display: none;

	display: flex;
	align-items: stretch;
	width: 100%;
	nav{
		width: 100%;
	}
	.nav{
		
		width: 100%;
		li{
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-basis: 50%;
			a{
				width: 100%;

				
				
				font-size: 21px;
				font-family: var(--font-serif);
				font-weight: 600;
				padding: 10px 0;
				border-right: var(--border);
				text-align: center;
				&:hover{
					color: var(--purple)
				}
			}
		}
	}
}


.nav_container_mobile{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	height: 100vh;
	width: 100%;
	background: var(--black);
	padding: 100px 5vw 0;

	@include transition(all 0.3s cubic-bezier(.12,.845,.305,1) );

	transform: translateX(100%);

	nav{
		ul{
			li{
				a{
					color: white;
					text-decoration: none;

				}
			}
		}
	}
}

.nav_toggle{
	position: fixed;
	width: 90px;
	height: 90px;
	display: flex;
	z-index: 20;
	top: 0;
	right: 0;
	background: var(--black);
	justify-content: center;
	align-items: center;
	@include transition(all 0.5s var(--ease));

	display: none;


	--toggle-width: 30px;
	--toggle-height: 2px;
	--toggle-main-color: white;
	--toggle-hover-color: var(--black);

	span{
		display: block;
		height: var(--toggle-height);
		width: var(--toggle-width);
		top: 0px;

		background: var(--toggle-main-color);
		position: relative;
		@include transition(all 0.3s var(--ease));
		

		&::after, &::before{
			display: inline-block;
			content: '';
			position: absolute;
			height: var(--toggle-height);
			width: var(--toggle-width);
			background: var(--toggle-main-color);
			@include transition(all 0.3s var(--ease));
		}

		&::before{
			top: -10px;
		}

		&::after{
			top: 10px;
		}
	}

	&:hover{
			span, span::before, span::after{
			background: var(--main-color);
		}
	}

}



// MENU OPEN
.menu_open{

	.nav_toggle{
		background: transparent;
		span, span::before, span::after{
			background: #fff;
		}

		span{
			background: transparent;


			&::before{
				transform: rotate(45deg) translate( 0, 0);
				top:0px;
			}
			&::after{
				transform: rotate(-45deg);
				top: 0px;
			}
		}

		&:hover{
			span::before, span::after{
				background: var(--main-color);
			}
		}
	}

	.nav_container_mobile{
		transform: translateX(0);

		.nav_content{
			left: 0;
		}
	}
}


/*********************
GLOBAL COMPOSER STYLES
*********************/

.vc_section {}

.vc_row{

}


/*********************
CONTENT
*********************/

#content{
	position: relative;
	margin-top: 30px;
}

.inner-content__main{
	margin-top: 55px;
}

/*********************
REFERENZEN
*********************/

.page-template-page-referenzen-filtered{
	.inner-content__main{
		p{
			padding-left: 20px;
		}
	}
}

.refs_container{
	//transform: translateX(-20px);
	margin-top: 34px;
   &:hover{
	.ref_article{
		//opacity: 0.6;
		&:hover{
			opacity: 1;
		}
	}
   }
}

.ref_article{
	padding: 20px;
	border: 1px solid var(--border-color);
	border-bottom: 8px solid var(--gray-0);
	margin-top: -1px;
	position: relative;
	z-index: 1;
	font-size: 13px;
	font-weight: 500;
	@include transition(all 0.3s cubic-bezier(.12, .845, .305, 1));
	//pointer-events: none;
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: min-content minmax(100px, min-content) min-content;
	grid-template-areas:
		"topRow"
		"middleRow"
		"bottomRow";

	&:hover{
		z-index: 2;
		border-color: var(--purple);
		color: var(--black);
		opacity: 1;
	}

	&:first-of-type{

		border-radius: 10px 10px 0 0;
	}
	&:last-of-type {
		border-radius: 0 0 10px 10px;
	}

	div span{
		font-weight: 600;
	}
	color: #aaa;
	a{
		&:hover{
			color: var(--purple)
		}
	}
}

.ref_top_row{
	grid-area: topRow;
	
	pointer-events: none;
	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, 1fr));
	grid-template-rows: 1fr 1fr;
	gap: 5px 5px;
	line-height: 1.4rem;
	//height: 1.4rem;
	grid-template-areas: 
	"date date" 
	"stil format  ";
	//border-bottom: var(--border);
	div{
		// background: antiquewhite;
		 display: flex;
		 line-height: 1.2;
		 span{
			margin-right: 3px;
		 }
	}
	.ref_date, .ref_date_since{
		//background: red;
		grid-area: date;
	}
	.ref_kind {
		//background: red;
		grid-area: stil;
	}
}

.ref_middle_row{
	grid-area: middleRow;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	color: var(--black);
	font-family: var(--font-serif);
	font-weight: 600;
	padding: 20px 12.5% 20px 0
}

.ref_bottom_row{
	grid-area: bottomRow;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-template-rows: repeat(3, min-content);

	grid-template-areas: "topic" "link" "more";

	div+div{
		margin-top: 10px;
	}

	.ref_topic{
		grid-area: topic;
	}
	.ref_link{
		grid-area: link;
		word-break: break-word;
	}
	.ref_more{
		grid-area: more;
		display: flex;
		justify-content: flex-start;
		color: var(--purple)
	}
}

// END REFERENZEN LISTE

/// START SINGLE REFERENZ	

.single-reference{
	.reference_content{
		
		display: flex;
		aside{
			width: 25%;
			flex-basis: 25%;
			padding: 0 30px 21px 0;
			color: var(--gray2);
			font-size: 13px;
			animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			align-self: baseline;
			border-bottom: 8px solid var(--gray-0);
			
			span{
				font-weight: 600;
				display: inline-block;
				width: 80px;
				color: var(--gray3);
			}
			div{
				white-space: break-spaces;
			}
			
			div+div{
				margin-top: 8px;
			}
			a{
				
				text-decoration: underline;
				&:hover{
					color: var(--purple); 
				}
			}
		}
	}
}

.article_text{
	width: 75%;
	max-width: 750px;
	padding-left: 30px;
	.article_text__header{
		padding-bottom: 21px;
		position: relative;
		
		&::after{
			content: '';
			display: inline-block;
			height: 11px;
			width: 100%;
			background: var(--yellow);
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			animation: scale-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			transform-origin: left;
			z-index: 0;
		}


			

		.line-container{
			height: 21px;
			width: 100%;
			background: transparent;
			position: absolute;
			bottom:21px;
			z-index: 1;
			.circle{
				width: 21px;
				height: 21px;
			}

			.circle span{
				display: inline-block;
				cursor: pointer;
				width: 21px;
				height: 21px;
				border-radius: 50%;
				background: var(--purple);
				animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
			
			}
		}

	}
	.entry-content{
		margin-top: 34px;
	}
}






		/* post meta */
		.byline {
			font-style: italic;
			margin: 0;
		}

		/* entry content */
		.entry-content {

			table {
				width: 100%;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {

				&:nth-child(even) {
					
				}
			}

			td {
				padding: 7px;
		

				&:last-child {
					border-right: 0;
				}
			}

			th {

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 2em;
			
				font-style: italic;
				

				&:before {}

			}


			img {
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: var(--black);
	
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
	margin: 0;
	padding: 10px;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color:white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      &:last-child{
      	border: none;
      }
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;

      &:hover, &:focus {
      	color:white;
      }
    }

    .current{
    	cursor: default;


    	&:hover, &:focus {
    		background-color:white;

    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/*********************
LISTE 
*********************/

.entry-content{
	ul{
		list-style: disc;
		li{
			margin-left: 20px;
		}
	}
}


/*********************
LOAD MORE
*********************/



/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color:white;
	color: var(--black);
	padding: 40px 0 20px;

}

.footer-links.nav{
	display: flex;
	justify-content: flex-end;
	margin: 0;
	top: 0;

		&:after, &:before{
		 display: none;  // remove from flex alignment! 
	}
		li {
			flex-basis: auto;
			margin: 0 10px;
			padding: 0;
			height: auto;
			font-size: 1.2em;


			&>a, &>a:hover {
				text-decoration: none;
				margin: 0;
				padding: 0;
				font-size: 1em;
			}
			ul {}
		}

} /* end .footer-links */


	.copyright {
		margin: 0;
		float: left;
		font-size: 12px;
			a{
		text-decoration: none;
	}
}
